html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.list .list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.list .list-title {
    font-size: smaller;
    font-weight: bold;
    color: #B7B7B7;
}

.list .list-item.first {
    background-color: #DBE9F9;
}

.list .list-item.second {
    background-color: #ECF3FC;
}

.list .list-item a:link {
    color: black;
}

.list .list-item a:visited {
    color: black;
}

.list .list-item. a:hover {
    color: black;
}

.list .list-item a:active {
    color: black;
}
